/* src/pages/MySecondCompletedOrdersPage.css */
.my-second-completed-orders-page {
    flex-grow: 1;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    margin-bottom: 20px;
  }
  .my-second-completed-orders-page .title-bar {
    border-radius: 8px 8px 0 0;
  }
  .second-completed-orders-content {
    padding: 20px;
  }